@import "./scss/_reset.scss";
@import "./scss/_variables.scss";
@import "./scss/_rem-calc.scss";
@import "./scss/_button.scss";

body {
  background-color: var(--primary-color);
}

main {
  width: rem-calc(600);
  margin: 0 auto;
}
